
/.idea/
/inc.iml
/inc-*/inc-*.iml
/inc-*/mvnw
/inc-*/mvnw.cmd
/inc-*/.mvn/
/inc-base/mvnw
target
**/target/
target/
._.DS_Store
.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist